@import "~node_modules/modern-normalize/modern-normalize.css";

body {
  font-family: "MontserratSemiBold", sans-serif;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: $textColor;
  background: #fffdee;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

ul,
ol {
  padding: 0px;
  margin: 0px;

  list-style: none;
}

button {
  padding: 0;
}

address {
  font-style: normal;
}

.container {
  width: 100%;
  max-width: 414px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  @include respond(md) {
    max-width: 960px;
  }
  @include respond(lg) {
    max-width: 1110px;
  }
}

.btn {
  //width: 236px;
  font-family: "MontserratBold";
  font-size: 16px;
  line-height: 1.25;
  color: $accentedTextColor;
  border: 2px solid #ffffff;
  border-radius: 25px;
  background-color: transparent;
  background-image: linear-gradient(rgb(0, 0, 0, 0.4), rgb(0, 0, 0, 0.4));
  padding: 12px 35px;
  letter-spacing: 0.02em;
  transition-property: border-color, background-color, color;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  &:hover,
  &:focus {
    border-color: $accentedTextColor;
    background-color: $white;
    background-image: none;
    color: $accentedTextColor;
    outline: none;
  }
}

.section_logo {
  font-family: "filmP3";
  font-size: 40px;
  color: $white;
  letter-spacing: 0.3em;
  line-height: 1.07;
  margin-bottom: 12px;
}
