.contacts {
  padding-top: 36px;
  padding-bottom: 32px;
  background-color: $bg_content;
  .contact {
    width: 100px;
  }
  .section_logo {
    color: $entry_logo_color;
  }
  .contacts_title {
    font-size: 16px;
  }
  .contact {
    font-family: "MontserratMedium";
    font-size: 20px;
    color: $accented_yellow;
  }
  .contacts_list {
    margin-bottom: 32px;
    & > li {
      flex-wrap: wrap;
      align-items: center;
      gap: 22px;
      margin-top: 16px;
      display: flex;
    }
    .dedicated_block {
      display: flex;
      align-items: center;
      font-family: "MontserratRegular";
      font-size: 14px;
      color: #494848;
      padding: 9px 8px 7px 8px;
      background-color: $white;
      border: 0.5px solid #f3c653;
      border-radius: 2px;
      letter-spacing: 0.02em;
    }
    .contact_address {
      padding-left: 122px;
    }
    .contact_hotel_phones {
      .contact_hotel_phone {
        color: #494848;
      }
      & > .icon + .contact_hotel_phone {
        margin-right: 8px;
      }
    }
  }
}
