@font-face {
  font-family: "filmP3";
  src: url("../fonts/filmP3.eot");
  src: url("../fonts/filmP3.eot") format("embedded-opentype"),
    url("../fonts/filmP3.woff2") format("woff2"),
    url("../fonts/filmP3.woff") format("woff"),
    url("../fonts/filmP3.ttf") format("truetype"),
    url("../fonts/filmP3.svg#filmP3") format("svg");
  font-weight: 700;
}

@font-face {
  font-family: "MontserratBold";
  src: url("../fonts/MontserratBold.eot");
  src: url("../fonts/MontserratBold.eot") format("embedded-opentype"),
    url("../fonts/MontserratBold.woff2") format("woff2"),
    url("../fonts/MontserratBold.woff") format("woff"),
    url("../fonts/MontserratBold.ttf") format("truetype"),
    url("../fonts/MontserratBold.svg#MontserratBold") format("svg");
  font-weight: 700;
}

@font-face {
  font-family: "MontserratMedium";
  src: url("../fonts/MontserratMedium.eot");
  src: url("../fonts/MontserratMedium.eot") format("embedded-opentype"),
    url("../fonts/MontserratMedium.woff2") format("woff2"),
    url("../fonts/MontserratMedium.woff") format("woff"),
    url("../fonts/MontserratMedium.ttf") format("truetype"),
    url("../fonts/MontserratMedium.svg#MontserratMedium") format("svg");
  font-weight: 500;
}

@font-face {
  font-family: "MontserratRegular";
  src: url("../fonts/MontserratRegular.eot");
  src: url("../fonts/MontserratRegular.eot") format("embedded-opentype"),
    url("../fonts/MontserratRegular.woff2") format("woff2"),
    url("../fonts/MontserratRegular.woff") format("woff"),
    url("../fonts/MontserratRegular.ttf") format("truetype"),
    url("../fonts/MontserratRegular.svg#MontserratRegular") format("svg");
  font-weight: 400;
}

@font-face {
  font-family: "MontserratSemiBold";
  src: url("../fonts/MontserratSemiBold.eot");
  src: url("../fonts/MontserratSemiBold.eot") format("embedded-opentype"),
    url("../fonts/MontserratSemiBold.woff2") format("woff2"),
    url("../fonts/MontserratSemiBold.woff") format("woff"),
    url("../fonts/MontserratSemiBold.ttf") format("truetype"),
    url("../fonts/MontserratSemiBold.svg#MontserratSemiBold") format("svg");
  font-weight: 600;
}
