.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: $footer_bg;
  & > .container {
    display: flex;
    justify-content: space-around;
  }
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $accentedTextColor;
    letter-spacing: 0.3em;
    font-family: filmP3;
    font-size: 40px;
    line-height: 1;
    flex-basis: 40%;
    @include respond(md) {
      font-size: 63px;
    }
  }
  .footer_module {
    @include respond(md) {
      flex-basis: 60%;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
  }
  .footer_nav {
    .footer_nav__item {
      margin-bottom: 15px;
      &:last-child {
        margin-bottom: 0;
      }
      & > a {
        font-family: "MontserratMedium";
        font-size: 20px;
        color: $accentedTextColor;
        transition-property: color;
        transition-duration: 0.25s;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus {
          color: $accented_yellow;
        }
      }
    }
  }
  .footer_social {
    margin-top: 32px;
    .footer_social__item {
      display: inline-block;
      margin-right: 20px;
      @include respond(md) {
        display: block;
        width: 144px;
        margin-bottom: 12px;
        &:last-child {
          margin-bottom: 0;
        }
      }
      &:last-child {
        margin-right: 0;
      }
    }
    .icon {
      fill: $accentedTextColor;
    }
    .footer_social__link {
      @include respond(md) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-family: "MontserratRegular";
        font-size: 16px;
        color: $accentedTextColor;
        padding: 7px 12px;
        border: 0.5px solid $accentedTextColor;
        border-radius: 2px;
      }
    }
    .footer_social__name {
      display: none;
      @include respond(md) {
        display: block;
      }
    }
  }
}
