.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 16px;
  padding-bottom: 9px;
  z-index: 99;
  & > .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .logo {
    font-family: "filmP3";
    font-size: 36px;
    color: $white;
    letter-spacing: 0.3em;
    line-height: 1.08;
    @include respond(md) {
      font-size: 40px;
    }
  }

  .header_list__link {
    display: flex;
    align-items: center;
    gap: 6px;
    font-family: "MontserratMedium";
    font-size: 16px;
    line-height: 1.25;
    color: $accentedTextColor;
    transition-property: color;
    transition-duration: 0.25s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: $accented_yellow;
    }
  }
  .header_list__contact {
    @include respond(md) {
      display: flex;
      align-items: center;
      gap: 4px;
      padding: 12px 6px;
      width: 144px;
      height: 40px;
      border: 1px solid rgba(243, 198, 83, 0.7);
      &:hover,
      &:focus {
        border-color: $accented_yellow;
      }
    }
    border-radius: 2px;
    .header_list__phone {
      display: none;
      @include respond(md) {
        display: block;
        font-size: 14px;
        color: $white;
        font-family: "MontserratRegular";
      }
    }
    & > .icon {
      transition-property: fill;
      transition-duration: 0.25s;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      fill: $accentedTextColor;
      &:hover,
      &:focus {
        fill: $accented_yellow;
      }
    }
  }
  .header_list {
    display: flex;
    gap: 20px;
    align-items: center;
    & > .header_list__item:nth-child(2) {
      @include respond(lg) {
        margin-right: 72px;
      }
    }
  }
  .hero_social {
    display: none;
    flex-wrap: wrap;
    gap: 23px;
    align-items: center;
    &.mobile_hidden {
      display: none;
      @include respond(lg) {
        display: flex;
      }
    }
    .icon {
      height: 24px;
      width: 24px;
      fill: $accentedTextColor;
      transition-property: fill;
      transition-duration: 0.25s;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    .hero_social_item {
      & > a:hover,
      & > a:focus {
        & > .icon {
          fill: $accented_yellow;
        }
      }
    }
  }
}
