.hero {
  padding-top: 62px;
  padding-bottom: 20px;
  background-image: linear-gradient(rgb(0, 0, 0, 0.65), rgb(0, 0, 0, 0.65)),
    url("../images/hero_mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @include respond(md) {
    padding-top: 188px;
    background-image: linear-gradient(rgb(0, 0, 0, 0.65), rgb(0, 0, 0, 0.65)),
      url("../images/hero_tablet.jpg");
  }
  @include respond(md) {
    background-image: linear-gradient(rgb(0, 0, 0, 0.65), rgb(0, 0, 0, 0.65)),
      url("../images/hero_desktop.jpg");
  }

  & > .container {
    @include respond(md) {
      display: flex;
      flex-direction: column;
    }
  }
  .hero_address {
    position: relative;
    width: 210px;
    padding: 8px 3px 8px 34px;
    border: 1px solid rgba(243, 198, 83, 0.7);
    border-radius: 2px;
    font-family: "MontserratRegular";
    line-height: 1.25;
    letter-spacing: 0.01em;
    margin-left: auto;
    margin-bottom: 70px;
    color: $address_color;
    @include respond(md) {
      width: 285px;
      margin-left: 0;
      margin-bottom: 0;
      font-size: 16px;
      order: 1;
    }
    & > .location_icon {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 5px;
      margin: auto 0;
      height: 20px;
      width: 20px;
      fill: $accentedTextColor;
      @include respond(md) {
        width: 24px;
        height: 24px;
      }
    }
  }
  .hero_content {
    text-align: center;
    & > .hero_title {
      font-family: "filmP3";
      font-size: 96px;
      line-height: 1.07;
      letter-spacing: 0.3em;
      color: $white;
      padding-left: 0.3em;
      margin-bottom: 24px;
      @include respond(md) {
        font-size: 128px;
      }
    }
    & > .hero_sub_title {
      font-family: "MontserratSemiBold";
      font-size: 16px;
      line-height: 1.25;
      color: $white;
      margin-bottom: 40px;
      @include respond(md) {
        font-size: 20px;
        margin-bottom: 56px;
      }
    }
    & > .hero_big_text {
      font-family: "Times New Roman";
      font-size: 32px;
      line-height: 1.15;
      font-weight: 700;
      letter-spacing: 0.05em;
      color: $white;
      margin-bottom: 113px;
      @include respond(md) {
        font-size: 36px;
      }
    }
  }
  .hero_module {
    @include respond(md) {
      display: flex;
      justify-content: space-between;
      order: 2;
    }
    .hero_module__buttons {
      text-align: center;
      @include respond(md) {
        margin-top: -44px;
        order: 1;
      }
      .btn:last-child {
        margin-top: 24px;
        @include respond(md) {
          margin-top: 0;
          margin-left: 40px;
        }
      }
    }
    .hero_social {
      display: flex;
      flex-wrap: wrap;
      gap: 23px;
      margin-top: 58px;
      @include respond(md) {
        margin-top: 25px;
      }
      .icon {
        height: 24px;
        width: 24px;
        fill: $accentedTextColor;
        transition-property: fill;
        transition-duration: 0.25s;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      }
      .hero_social_item {
        & > a:hover,
        & > a:focus {
          & > .icon {
            fill: $accented_yellow;
          }
        }
      }
    }
  }
  @media screen and (min-width: 415px) {
    .hero {
      background-image: url("../images/hero_tablet.jpg");
    }
  }
}
