.restaurant {
  padding-top: 16px;
  padding-bottom: 27px;
  background-color: $entry_color;
  .text_accented {
    color: $accented_yellow;
  }
  .float_text {
    display: flex;
    align-items: center;
  }
  .align_right {
    margin-left: auto;
  }
  .row_reverse {
    @include respond(md) {
      flex-direction: row-reverse;
    }
  }
  .offset_top {
    @include respond(md) {
      margin-top: -48px;
    }
  }

  .restaurant_headline {
    font-family: "Times New Roman";
    font-size: 20px;
    line-height: 1.15;
    color: $entry_title_color;
    font-weight: 400;
    margin-bottom: 12px;
    @include respond(md) {
      font-size: 32px;
    }
  }
  .restaurant_logo {
    letter-spacing: 0.3em;
    margin-bottom: 12px;
    font-family: filmP3;
    font-size: 40px;
    line-height: 1.07;
    color: $entry_logo_color;
    @include respond(md) {
      font-size: 64px;
    }
  }
  .restaurant_text {
    @include respond(md) {
      font-size: 16px;
    }
  }
  .restaurant_content {
    & > .restaurant_item {
      gap: 20px;
      margin-bottom: 32px;
      @include respond(md) {
        display: flex;
        gap: 40px;
      }
      & > .restaurant_item__content {
        width: 258px;
        margin-bottom: 28px;
        @include respond(md) {
          width: 419px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin-bottom: 0;
        }
        @include respond(lg) {
          width: 518px;
        }
      }
      & > .restaurant_text {
        margin-bottom: 28px;
        max-width: 312px;
      }
      &.right {
        @include respond(md) {
          display: flex;
          justify-content: flex-end;
          align-items: center;
        }
        .restaurant_img {
          margin-left: auto;
        }
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
    .restaurant_img {
      box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
      min-width: 200px;
    }
  }
  .about_restaurant_slider {
    max-width: 500px;
  }
  .swiper {
    @include respond(md) {
      margin-top: -40px;
      padding: 0;
    }
  }
}
