.swiper {
  width: calc(100% - 34px);
  margin-top: 15px;
  margin-right: 0;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 13px;
}

.swiper-slide {
  width: 250px;
  height: 250px;
  margin-right: 25px;
  box-shadow: 2px 2px 12.5px 2px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}

.swiper-slide:last-child {
  margin-right: 0;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination {
  width: 100%;
  display: flex;
  gap: 15px;
  margin-top: 20px;
}

.swiper-pagination-right {
  justify-content: flex-end;
}

.swiper_side .swiper {
  display: flex;
  flex-wrap: wrap;
  margin-left: 0;
  padding-right: 13px;
  padding-left: 0;
}

.swiper-slide:first-child,
.swiper-slide:last-child {
  width: 60px;
}
