.carousel_small {
  margin-top: 19.5px;
  .container {
    padding-left: 0;
    padding-right: 0;
  }
}

.carousel_big {
  margin-top: 48px;
  .swiper {
    width: 375px;
  }
  .swiper-wrapper {
    gap: 20px;
  }
  .swiper-slide {
    width: 274px;
  }
  .swiper-pagination {
    .icon {
      fill: $white;
    }
  }
  &.left_side {
    .swiper-pagination {
      flex-direction: row;
      padding-left: 0;
      padding-right: 15.5px;
    }
  }
}

.swiper {
  padding-top: 12.5px;
  width: 343px;
}

.left_side {
  .swiper {
    margin-left: 0;
    margin-right: auto;
    direction: rtl;
  }
  .swiper-pagination {
    display: flex;
    gap: 30px;
    margin-top: 20px;
  }
}

.right_side {
  .swiper {
    margin-left: auto;
    margin-right: 0;
  }
  .swiper-pagination {
    display: flex;
    gap: 30px;
    margin-top: 20px;
    padding-right: 12.5px;
    justify-content: flex-end;
  }
}

.carousel_small {
  .swiper-slide > img {
    border-radius: 2px;
    box-shadow: 2px 2px 12.5px 2px rgba(0, 0, 0, 0.25);
  }
  .swiper-slide {
    display: flex;
    width: 245px;
    padding-left: 12.5px;
    margin-right: 12.5px;
    box-sizing: content-box;
  }
  .left_side {
    .swiper-pagination {
      padding-left: 12.5px;
      flex-direction: row-reverse;
    }
    .swiper-slide {
      padding-left: 12.5px;
      padding-right: 0;
    }
  }
}

.swiper-slide-active {
  margin-left: 0;
}

.direction_right .swiper-wrapper {
  transition: transform;
  animation-duration: 500ms;
  animation-timing-function: ease-in;
  gap: 25px;
}
