.details_restaurant {
  padding-top: 24px;
  padding-bottom: 24px;
  .details_restaurant_content {
    width: 261px;
    margin-right: 0;
    margin-left: auto;
  }
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url("../images/details_restaurant_bg.jpg");
  .details_restaurant_title {
    font-family: "MontserratBold";
    font-size: 20px;
    color: $white;
    margin-bottom: 20px;
  }
  .details_restaurant_text {
    font-family: "MontserratSemiBold";
    color: $text_description;
  }
  .swiper-pagination {
    .icon {
      fill: #fff;
    }
  }
  .button_wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
  }
}
