.details_hotel {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../images/details_hotel_mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 24px;
  padding-bottom: 40px;
  @include respond(md) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url("../images/details_hotel_tablet.jpg");
  }
  @include respond(lg) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url("../images/details_hotel_desktop.jpg");
  }
  .details_hotel_content {
    width: 243px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    @include respond(md) {
      width: calc(100% - 265px);
    }
    .section_logo {
      margin-right: -0.3em;
      @include respond(md) {
        font-size: 64px;
      }
    }
  }
  .details_hotel__inner {
    @include respond(md) {
      display: flex;
      align-items: flex-end;
      gap: 29px;
    }
    & > .swiper {
      margin-left: 0;
      @include respond(md) {
        width: 100%;
        padding-left: 13px;
        padding-right: 0;
      }
      .swiper-slide {
        padding: 0;
        margin-right: 24px;
        @include respond(md) {
          width: 254px;
          height: 254px;
          margin-right: 34px;
        }
        @include respond(lg) {
          margin-right: 85px;
        }
      }
    }
  }
  .details_hotel_title {
    font-family: "MontserratBold";
    font-size: 20px;
    color: $white;
    margin-bottom: 20px;
    @include respond(md) {
      font-size: 24px;
    }
  }
  .details_hotel_text {
    font-family: "MontserratSemiBold";
    color: $text_description;
    @include respond(md) {
      width: 539px;
      font-size: 16px;
    }
  }
  .swiper-pagination {
    .icon {
      fill: #fff;
      &:hover,
      &:focus {
        fill: $accentedTextColor;
      }
    }
  }
  .button_wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    text-align: center;
    margin-top: 16px;
    @include respond(md) {
      width: 236px;
      margin-top: 0;
      padding-bottom: 53px;
    }
    & > .btn {
      width: 236px;
      padding-left: 15px;
      padding-right: 15px;
      &:first-child {
        margin-bottom: 16px;
      }
    }
  }
}
