<section class="room_section deluxe_room">
  <div class="container">
    <div class="room_section__top offset_top">
      <div class="room_section__content">
        <p class="room_section__content__headline">Amet minim mollit non</p>
        <p class="room_section__content__logo">MIMIHO</p>
        <h2 class="room_section__content__title">ДВОМІСНИЙ НОМЕР люкс</h2>
        <p class="room_section__content__description">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
      <picture>
        <source
          media="(max-width: 1023px)"
          srcset="./images/restaurant_first_mobile.jpg"
        />
        <source
          media="(max-width: 1279px)"
          srcset="./images/restaurant_first_tablet.jpg"
        />
        <source
          media="(min-width: 1281px)"
          srcset="./images/restaurant_first_desktop.jpg"
        />
        <img
          class="room_section__img"
          src="./images/restaurant_first_mobile.jpg"
          alt="Image"
        />
      </picture>
    </div>
    <div class="room_section__bottom">
      <div class="swiper small_slider swiper_left">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <picture>
              <source
                media="(max-width: 1023px)"
                srcset="./images/sliders/smallSlider/thirdSlideMobile.jpg"
              />
              <source
                media="(max-width: 1279px)"
                srcset="./images/sliders/smallSlider/thirdSlideTablet.jpg"
              />
              <source
                media="(min-width: 1281px)"
                srcset="./images/sliders/smallSlider/thirdSlideDesktop.jpg"
              />
              <img
                src="./images/sliders/smallSlider/thirdSlideMobile.jpg"
                alt="slide image"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source
                media="(max-width: 1023px)"
                srcset="./images/sliders/smallSlider/thirdSlide2Mobile.jpg"
              />
              <source
                media="(max-width: 1279px)"
                srcset="./images/sliders/smallSlider/thirdSlide2Tablet.jpg"
              />
              <source
                media="(min-width: 1281px)"
                srcset="./images/sliders/smallSlider/thirdSlide2Desktop.jpg"
              />
              <img
                src="./images/sliders/smallSlider/thirdSlide2Mobile.jpg"
                alt="slide image"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source
                media="(max-width: 1023px)"
                srcset="./images/sliders/smallSlider/thirdSlide3Mobile.jpg"
              />
              <source
                media="(max-width: 1279px)"
                srcset="./images/sliders/smallSlider/thirdSlide3Tablet.jpg"
              />
              <source
                media="(min-width: 1281px)"
                srcset="./images/sliders/smallSlider/thirdSlide3Desktop.jpg"
              />
              <img
                src="./images/sliders/smallSlider/thirdSlide3Mobile.jpg"
                alt="slide image"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source
                media="(max-width: 1023px)"
                srcset="./images/sliders/smallSlider/thirdSlide4Mobile.jpg"
              />
              <source
                media="(max-width: 1279px)"
                srcset="./images/sliders/smallSlider/thirdSlide4Tablet.jpg"
              />
              <source
                media="(min-width: 1281px)"
                srcset="./images/sliders/smallSlider/thirdSlide4Desktop.jpg"
              />
              <img
                src="./images/sliders/smallSlider/thirdSlide4Mobile.jpg"
                alt="slide image"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source
                media="(max-width: 1023px)"
                srcset="./images/sliders/smallSlider/thirdSlideMobile.jpg"
              />
              <source
                media="(max-width: 1279px)"
                srcset="./images/sliders/smallSlider/thirdSlideTablet.jpg"
              />
              <source
                media="(min-width: 1281px)"
                srcset="./images/sliders/smallSlider/thirdSlideDesktop.jpg"
              />
              <img
                src="./images/sliders/smallSlider/thirdSlideMobile.jpg"
                alt="slide image"
              />
            </picture>
          </div>
        </div>
        <div class="swiper-pagination">
          <button class="swiper-button-next">
            <svg class="icon" height="32" width="32">
              <use href="./images/icons.svg#icon-arrow_left"></use>
            </svg>
          </button>
          <button class="swiper-button-prev">
            <svg class="icon" height="32" width="32">
              <use href="./images/icons.svg#icon-arrow_right"></use>
            </svg>
          </button>
        </div>
      </div>
      <div class="room_section__button">
        <a class="btn" href="./room.html">Детальніше</a>
        <button
          class="btn open_modal"
          type="button"
          data-modal-id="#modal_price"
        >
          Переглянути ціни
        </button>
      </div>
    </div>
  </div>
</section>
