<section class="section_menu">
  <div class="container">
    <h2 class="restaurant_menu_title">МЕНЮ РЕСТОРАНУ</h2>
    <div class="restaurant_menu">
      <div class="restaurant_menu__part">
        <h3 class="restaurant_menu_category">Гарячі страви</h3>
        <ul class="restaurant_menu__list">
          <li class="restaurant_menu__item">
            <div class="restaurant_menu__item__dish">
              <h4 class="restaurant_menu__item__name">
                Борщ з телятини з квасолею
              </h4>
              <p class="restaurant_menu__item__description">
                Телятина, картопля, капуста, морква, цибуля, квасоля, часник,
                помідори, зелень, сметана
              </p>
            </div>
            <p class="restaurant_menu__item__weight">400 г</p>
            <p class="restaurant_menu__item__price">240 грн</p>
          </li>
          <li class="restaurant_menu__item">
            <div class="restaurant_menu__item__dish">
              <h4 class="restaurant_menu__item__name">Суп сирний з куркою</h4>
              <p class="restaurant_menu__item__description">
                Курятина, картопля, морква, цибуля, печериці, сир м’який, зелень
              </p>
            </div>
            <p class="restaurant_menu__item__weight">400 г</p>
            <p class="restaurant_menu__item__price">200 грн</p>
          </li>
          <li class="restaurant_menu__item">
            <div class="restaurant_menu__item__dish">
              <h4 class="restaurant_menu__item__name">Паста карбонара</h4>
              <p class="restaurant_menu__item__description">
                Паста тальятеле, бекон, вершки, сир пармезан, яйце, зелень
              </p>
            </div>
            <p class="restaurant_menu__item__weight">350 г</p>
            <p class="restaurant_menu__item__price">430 грн</p>
          </li>
          <li class="restaurant_menu__item">
            <div class="restaurant_menu__item__dish">
              <h4 class="restaurant_menu__item__name">Стейк зі свинини</h4>
              <p class="restaurant_menu__item__description">
                Свиняча вирізка, спеціі, подається з соусом солодкий чилі та
                овочами
              </p>
            </div>
            <p class="restaurant_menu__item__weight">400 г</p>
            <p class="restaurant_menu__item__price">500 грн</p>
          </li>
          <li class="restaurant_menu__item">
            <div class="restaurant_menu__item__dish">
              <h4 class="restaurant_menu__item__name">
                Горбуша в соусі з білого вина
              </h4>
              <p class="restaurant_menu__item__description">
                Ніжна горбуша, вершковий соус на основі білого вина
              </p>
            </div>
            <p class="restaurant_menu__item__weight">400 г</p>
            <p class="restaurant_menu__item__price">400 грн</p>
          </li>
        </ul>
        <h3 class="restaurant_menu_category">Гарніри та закуски</h3>
        <ul class="restaurant_menu__list">
          <li class="restaurant_menu__item">
            <div class="restaurant_menu__item__dish">
              <h4 class="restaurant_menu__item__name">Запечені овочі</h4>
              <p class="restaurant_menu__item__description">
                Кабачок, перець, помідор, баклажан
              </p>
            </div>
            <p class="restaurant_menu__item__weight">200 г</p>
            <p class="restaurant_menu__item__price">230 грн</p>
          </li>
          <li class="restaurant_menu__item">
            <div class="restaurant_menu__item__dish">
              <h4 class="restaurant_menu__item__name">Картопля фрі</h4>
              <p class="restaurant_menu__item__description">
                Картопля, соус томатний
              </p>
            </div>
            <p class="restaurant_menu__item__weight">150 г</p>
            <p class="restaurant_menu__item__price">160 грн</p>
          </li>
          <li class="restaurant_menu__item">
            <div class="restaurant_menu__item__dish">
              <h4 class="restaurant_menu__item__name">Картопля по-селянськи</h4>
              <p class="restaurant_menu__item__description">
                Картопля, спеції, соус пікантний
              </p>
            </div>
            <p class="restaurant_menu__item__weight">150 г</p>
            <p class="restaurant_menu__item__price">160 грн</p>
          </li>
          <li class="restaurant_menu__item">
            <div class="restaurant_menu__item__dish">
              <h4 class="restaurant_menu__item__name">
                Хрумкі соління з бочки
              </h4>
              <p class="restaurant_menu__item__description">
                Огірок солений, помідор квашений, квашена капуста, морква
                по-корейські
              </p>
            </div>
            <p class="restaurant_menu__item__weight">250 г</p>
            <p class="restaurant_menu__item__price">350 грн</p>
          </li>
          <li class="restaurant_menu__item">
            <div class="restaurant_menu__item__dish">
              <h4 class="restaurant_menu__item__name">
                Крильця курячі в медовому соусі
              </h4>
              <p class="restaurant_menu__item__description">
                Крильця курячі, гірчично-медовий соус, подається з морквою,
                селерою і соусом блючиз
              </p>
            </div>
            <p class="restaurant_menu__item__weight">400 г</p>
            <p class="restaurant_menu__item__price">420 грн</p>
          </li>
        </ul>
      </div>
      <div class="restaurant_menu__part">
        <h3 class="restaurant_menu_category">Салати</h3>
        <ul class="restaurant_menu__list">
          <li class="restaurant_menu__item">
            <div class="restaurant_menu__item__dish">
              <h4 class="restaurant_menu__item__name">Цезар з куркою</h4>
              <p class="restaurant_menu__item__description">
                Куряче філе, листя салату, помідори чері, сир пармезан, грінки,
                соус цезар
              </p>
            </div>
            <p class="restaurant_menu__item__weight">230 г</p>
            <p class="restaurant_menu__item__price">450 грн</p>
          </li>
          <li class="restaurant_menu__item">
            <div class="restaurant_menu__item__dish">
              <h4 class="restaurant_menu__item__name">Цезар з креветками</h4>
              <p class="restaurant_menu__item__description">
                Тигрові креветки, листя салату, помідори чері, сир пармезан,
                грінки, соус цезар
              </p>
            </div>
            <p class="restaurant_menu__item__weight">230 г</p>
            <p class="restaurant_menu__item__price">300 грн</p>
          </li>
          <li class="restaurant_menu__item">
            <div class="restaurant_menu__item__dish">
              <h4 class="restaurant_menu__item__name">Грецький салат</h4>
              <p class="restaurant_menu__item__description">
                Свіжі огірок, помідор, болгарський перець, оливки, сир бринза,
                листя салату, соус
              </p>
            </div>
            <p class="restaurant_menu__item__weight">230 г</p>
            <p class="restaurant_menu__item__price">280 грн</p>
          </li>
          <li class="restaurant_menu__item">
            <div class="restaurant_menu__item__dish">
              <h4 class="restaurant_menu__item__name">М’ясний салат</h4>
              <p class="restaurant_menu__item__description">
                Куряче філе або свиняча вирізка, свіжі огірок, помідор,
                болгарський перець, соус ранч
              </p>
            </div>
            <p class="restaurant_menu__item__weight">230 г</p>
            <p class="restaurant_menu__item__price">300 грн</p>
          </li>
        </ul>
        <h3 class="restaurant_menu_category">Десерти</h3>
        <ul class="restaurant_menu__list">
          <li class="restaurant_menu__item">
            <div class="restaurant_menu__item__dish">
              <h4 class="restaurant_menu__item__name">Торт наполеон</h4>
            </div>
            <p class="restaurant_menu__item__weight">230 г</p>
            <p class="restaurant_menu__item__price">300 грн</p>
          </li>
          <li class="restaurant_menu__item">
            <div class="restaurant_menu__item__dish">
              <h4 class="restaurant_menu__item__name">Торт маковий</h4>
            </div>
            <p class="restaurant_menu__item__weight">230 г</p>
            <p class="restaurant_menu__item__price">300 грн</p>
          </li>
          <li class="restaurant_menu__item">
            <div class="restaurant_menu__item__dish">
              <h4 class="restaurant_menu__item__name">Тірамісу</h4>
            </div>
            <p class="restaurant_menu__item__weight">120 г</p>
            <p class="restaurant_menu__item__price">260 грн</p>
          </li>
        </ul>
        <h3 class="restaurant_menu_category">Напої</h3>
        <ul class="restaurant_menu__list">
          <li class="restaurant_menu__item">
            <div class="restaurant_menu__item__dish">
              <h4 class="restaurant_menu__item__name">Чай чорний/зелений</h4>
            </div>
            <p class="restaurant_menu__item__weight">500 мл</p>
            <p class="restaurant_menu__item__price">100 грн</p>
          </li>
          <li class="restaurant_menu__item">
            <div class="restaurant_menu__item__dish">
              <h4 class="restaurant_menu__item__name">Еспресо</h4>
            </div>
            <p class="restaurant_menu__item__weight">30 мл</p>
            <p class="restaurant_menu__item__price">100 грн</p>
          </li>
          <li class="restaurant_menu__item">
            <div class="restaurant_menu__item__dish">
              <h4 class="restaurant_menu__item__name">Американо</h4>
            </div>
            <p class="restaurant_menu__item__weight">150 мл</p>
            <p class="restaurant_menu__item__price">100 грн</p>
          </li>
          <li class="restaurant_menu__item">
            <div class="restaurant_menu__item__dish">
              <h4 class="restaurant_menu__item__name">Капучино</h4>
            </div>
            <p class="restaurant_menu__item__weight">200 мл</p>
            <p class="restaurant_menu__item__price">160 грн</p>
          </li>
          <li class="restaurant_menu__item">
            <div class="restaurant_menu__item__dish">
              <h4 class="restaurant_menu__item__name">Лате</h4>
            </div>
            <p class="restaurant_menu__item__weight">200 мл</p>
            <p class="restaurant_menu__item__price">160 грн</p>
          </li>
        </ul>
      </div>
    </div>
    <button class="btn">Забронювати столик</button>
  </div>
</section>
