<section class="about_restaurant restaurant">
  <div class="container">
    <div class="restaurant_content offset_top">
      <div class="restaurant_item">
        <div class="restaurant_item__content">
          <h6 class="restaurant_headline">Amet minim mollit non</h6>
          <p class="restaurant_logo">MIMIHO</p>
          <p class="restaurant_text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
        </div>
        <picture>
          <source
            media="(max-width: 1023px)"
            srcset="./images/restaurant_first_mobile.jpg"
          />
          <source
            media="(max-width: 1279px)"
            srcset="./images/restaurant_first_tablet.jpg"
          />
          <source
            media="(min-width: 1281px)"
            srcset="./images/restaurant_first_desktop.jpg"
          />
          <img
            class="restaurant_img align_right"
            src="./images/restaurant_first_mobile.jpg"
            alt="Image"
          />
        </picture>
      </div>
      <div class="restaurant_item float_text offset_top">
        <picture>
          <source
            media="(max-width: 1023px)"
            srcset="./images/restaurant_second_mobile.jpg"
          />
          <source
            media="(max-width: 1279px)"
            srcset="./images/restaurant_second_tablet.jpg"
          />
          <source
            media="(min-width: 1281px)"
            srcset="./images/restaurant_second_desktop.jpg"
          />
          <img
            class="restaurant_img align_right"
            src="./images/restaurant_second_mobile.jpg"
            alt="Image"
          />
        </picture>
        <p class="restaurant_text text_accented">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
    </div>

    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <picture>
            <source
              media="(max-width: 1023px)"
              srcset="./images/sliders/smallSlider/firstSlideMobile.jpg"
            />
            <source
              media="(max-width: 1279px)"
              srcset="./images/sliders/smallSlider/firstSlideTablet.jpg"
            />
            <source
              media="(min-width: 1281px)"
              srcset="./images/sliders/smallSlider/firstSlideDesktop.jpg"
            />
            <img
              src="./images/sliders/smallSlider/firstSlideMobile.jpg"
              alt="slide image"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              media="(max-width: 1023px)"
              srcset="./images/sliders/smallSlider/firstSlide2Mobile.jpg"
            />
            <source
              media="(max-width: 1279px)"
              srcset="./images/sliders/smallSlider/firstSlide2Tablet.jpg"
            />
            <source
              media="(min-width: 1281px)"
              srcset="./images/sliders/smallSlider/firstSlide2Desktop.jpg"
            />
            <img
              src="./images/sliders/smallSlider/firstSlide2Mobile.jpg"
              alt="slide image"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              media="(max-width: 1023px)"
              srcset="./images/sliders/smallSlider/firstSlide3Mobile.jpg"
            />
            <source
              media="(max-width: 1279px)"
              srcset="./images/sliders/smallSlider/firstSlide3Tablet.jpg"
            />
            <source
              media="(min-width: 1281px)"
              srcset="./images/sliders/smallSlider/firstSlide3Desktop.jpg"
            />
            <img
              src="./images/sliders/smallSlider/firstSlide3Mobile.jpg"
              alt="slide image"
            />
          </picture>
        </div>
      </div>
      <div class="swiper-pagination swiper-pagination-right">
        <button class="swiper-button-next">
          <svg class="icon" height="32" width="32">
            <use href="./images/icons.svg#icon-arrow_left"></use>
          </svg>
        </button>
        <button class="swiper-button-prev">
          <svg class="icon" height="32" width="32">
            <use href="./images/icons.svg#icon-arrow_right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
