<section class="about_restaurant entry">
  <div class="container">
    <h6 class="entry_headline">Amet minim mollit non</h6>
    <p class="entry_logo">MIMIHO</p>
    <div class="entry_content">
      <div class="entry_item right">
        <p class="entry_text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
        <img
          class="entry_img"
          src="./images/restaurant-interior _1_mobile.jpg"
          alt=""
        />
      </div>
      <div class="entry_item left">
        <p class="entry_text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
        <img
          class="entry_img"
          src="./images/restaurant-interior _2_mobile.jpg"
          alt=""
        />
      </div>
    </div>
  </div>
  <div class="carousel_wrapper right">
    <ul class="carousel" id="carousel_right">
      <li>
        <img src="./images/about_our_restaurant_1_mobile.jpg" alt="" />
      </li>
      <li>
        <img src="./images/about_our_restaurant_2_mobile.jpg" alt="" />
      </li>
      <li>
        <img src="./images/about_our_restaurant_3_mobile.jpg" alt="" />
      </li>
    </ul>
    <div class="paginator_right">
      <ul class="carousel_right_arrow carousel_arrow">
        <li class="prev">
          <svg class="icon" height="24" width="24">
            <use href="./images/icons.svg#icon-arrow_left"></use>
          </svg>
        </li>
        <li class="next">
          <svg class="icon" height="24" width="24">
            <use href="./images/icons.svg#icon-arrow_right"></use>
          </svg>
        </li>
      </ul>
    </div>
  </div>
  <div class="carousel_wrapper left">
    <ul class="carousel" id="carousel_left">
      <li>
        <img src="./images/about_our_restaurant_1_mobile.jpg" alt="" />
      </li>
      <li>
        <img src="./images/about_our_restaurant_2_mobile.jpg" alt="" />
      </li>
      <li>
        <img src="./images/about_our_restaurant_3_mobile.jpg" alt="" />
      </li>
      <li>
        <img src="./images/slider_test.jpg" alt="" />
      </li>
    </ul>
    <div class="paginator_left">
      <ul class="carousel_left_arrow carousel_arrow">
        <li class="prev">
          <svg class="icon" height="24" width="24">
            <use href="./images/icons.svg#icon-arrow_left"></use>
          </svg>
        </li>
        <li class="next">
          <svg class="icon" height="24" width="24">
            <use href="./images/icons.svg#icon-arrow_right"></use>
          </svg>
        </li>
      </ul>
    </div>
  </div>
</section>
