<section class="about_hotel entry">
  <div class="container">
    <h6 class="entry_headline text_right">Amet minim mollit non</h6>
    <p class="entry_logo text_right section_logo">MIMIHO</p>
    <div class="entry_content">
      <div class="entry_item left">
        <p class="entry_text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
        <img
          class="entry_img"
          src="./images/restaurant-interior _1_mobile.jpg"
          alt=""
        />
      </div>
      <div class="entry_item float_text right">
        <p class="entry_text text_accented">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
        <img
          class="entry_img"
          src="./images/restaurant-interior _2_mobile.jpg"
          alt=""
        />
      </div>
    </div>
  </div>
  <div class="swiper_side container">
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="./images/about_our_restaurant_1_mobile.jpg" alt="" />
        </div>
        <div class="swiper-slide">
          <img src="./images/about_our_restaurant_2_mobile.jpg" alt="" />
        </div>
        <div class="swiper-slide">
          <img src="./images/about_our_restaurant_2_mobile.jpg" alt="" />
        </div>
      </div>
      <div class="swiper-pagination">
        <div class="swiper-button-next">
          <svg class="icon" height="32" width="32">
            <use href="./images/icons.svg#icon-arrow_left"></use>
          </svg>
        </div>
        <div class="swiper-button-prev">
          <svg class="icon" height="32" width="32">
            <use href="./images/icons.svg#icon-arrow_right"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
