<header class="header">
  <div class="container">
    <a href="/" class="logo">MIMIHO</a>
    <ul class="header_contacts">
      <li class="header_contacts_item">
        <a class="header_contacts_link" href="tel:+">
          Ресторан
          <svg class="icon" height="24" width="24">
            <use href="./images/icons.svg#icon-phone"></use>
          </svg>
        </a>
      </li>
      <li class="header_contacts_item">
        <a class="header_contacts_link" href="tel:+">
          Готель
          <svg class="icon" height="24" width="24">
            <use href="./images/icons.svg#icon-phone"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</header>
