<section class="about_room">
  <div class="container">
    <p class="about_room__title">ЗРУЧНОСТІ У НОМЕРІ</p>
    <p class="about_room__text">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
    <ul class="about_room__list">
      <li class="about_room__list__item two_blocks">
        <div class="about_room__col">
          <p class="about_room__col__title">ЗАГАЛЬНІ</p>
          <p class="about_room__col__text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
        </div>
        <p class="about_room__col__text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </li>
      <li class="about_room__list__item two_blocks">
        <div class="about_room__col">
          <p class="about_room__col__title">ВАННА КІМНАТА</p>
          <p class="about_room__col__text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
        </div>
        <p class="about_room__col__text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </li>
      <li class="about_room__list__item">
        <p class="about_room__col__title">СПАЛЬНЯ</p>
        <p class="about_room__col__text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint.
        </p>
      </li>
      <li class="about_room__list__item two_blocks">
        <div class="about_room__col">
          <p class="about_room__col__title">КУХНЯ</p>
          <p class="about_room__col__text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint.
          </p>
        </div>
        <p class="about_room__col__text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint.
        </p>
      </li>
      <li class="about_room__list__item">
        <p class="about_room__col__title">МЕДІА</p>
        <p class="about_room__col__text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit.
        </p>
      </li>
    </ul>
    <button
      class="btn btn_order open_modal"
      type="button"
      data-modal-id="#modal_price"
    >
      ОФОРМИТИ БРОНЮВАННЯ
    </button>
    <a href="./hotel.html" class="about_room___back">
      Повернутися до перегляду номерів
      <svg class="icon" height="24" width="24">
        <use href="./images/icons.svg#icon-arrow_right"></use>
      </svg>
    </a>
  </div>
</section>
