<div class="room_hero">
  <div class="swiper hero-swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="container">
          <address class="room_hero__address desktop_hidden">
            <svg class="icon location_icon">
              <use href="./images/icons.svg#icon-location"></use>
            </svg>
            Україна, м. Полтава,<br />
            вул. Маршала Бірюзова, 15
          </address>
          <div class="slide__content">
            <h2 class="slide__title">ДВОМІСНИЙ НОМЕР люкс</h2>
            <p class="slide__description">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat duis enim velit mollit.
              Exercitation veniam consequat sunt nostrud amet.
            </p>
            <div class="slide__content__module">
              <address class="room_hero__address mobile_hidden">
                <svg class="icon location_icon">
                  <use href="./images/icons.svg#icon-location"></use>
                </svg>
                Україна, м. Полтава,<br />
                вул. Маршала Бірюзова, 15
              </address>
              <ul class="hero_social desktop_hidden">
                <li class="hero_social_item">
                  <a href="#">
                    <svg class="icon">
                      <use href="./images/icons.svg#icon-instagram"></use>
                    </svg>
                  </a>
                </li>
                <li class="hero_social_item">
                  <a href="#">
                    <svg class="icon">
                      <use href="./images/icons.svg#icon-facebook"></use>
                    </svg>
                  </a>
                </li>
                <li class="hero_social_item">
                  <a href="#">
                    <svg class="icon">
                      <use href="./images/icons.svg#icon-telegram"></use>
                    </svg>
                  </a>
                </li>
              </ul>
              <button class="btn" type="button">Переглянути ціни</button>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="container">
          <address class="room_hero__address desktop_hidden">
            <svg class="icon location_icon">
              <use href="./images/icons.svg#icon-location"></use>
            </svg>
            Україна, м. Полтава,<br />
            вул. Маршала Бірюзова, 15
          </address>
          <div class="slide__content">
            <h2 class="slide__title">ДВОМІСНИЙ НОМЕР люкс</h2>
            <p class="slide__description">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat duis enim velit mollit.
              Exercitation veniam consequat sunt nostrud amet.
            </p>
            <div class="slide__content__module">
              <address class="room_hero__address mobile_hidden">
                <svg class="icon location_icon">
                  <use href="./images/icons.svg#icon-location"></use>
                </svg>
                Україна, м. Полтава,<br />
                вул. Маршала Бірюзова, 15
              </address>
              <ul class="hero_social desktop_hidden">
                <li class="hero_social_item">
                  <a href="#">
                    <svg class="icon">
                      <use href="./images/icons.svg#icon-instagram"></use>
                    </svg>
                  </a>
                </li>
                <li class="hero_social_item">
                  <a href="#">
                    <svg class="icon">
                      <use href="./images/icons.svg#icon-facebook"></use>
                    </svg>
                  </a>
                </li>
                <li class="hero_social_item">
                  <a href="#">
                    <svg class="icon">
                      <use href="./images/icons.svg#icon-telegram"></use>
                    </svg>
                  </a>
                </li>
              </ul>
              <button class="btn" type="button">Переглянути ціни</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-pagination">
      <div class="container">
        <button class="swiper-button-next">
          <svg class="icon" height="32" width="32">
            <use href="./images/icons.svg#icon-arrow_left"></use>
          </svg>
        </button>
        <button class="swiper-button-prev">
          <svg class="icon" height="32" width="32">
            <use href="./images/icons.svg#icon-arrow_right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>
