<section class="about_hotel entry">
  <div class="container">
    <h6 class="entry_headline text_right">Amet minim mollit non</h6>
    <p class="entry_logo text_right section_logo">MIMIHO</p>
    <div class="entry_content">
      <div class="entry_item left">
        <p class="entry_text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
        <img
          class="entry_img"
          src="./images/restaurant-interior _1_mobile.jpg"
          alt=""
        />
      </div>
      <div class="entry_item float_text right">
        <p class="entry_text text_accented">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
        <img
          class="entry_img"
          src="./images/restaurant-interior _2_mobile.jpg"
          alt=""
        />
      </div>
    </div>
  </div>
  <div class="swiper_side container">
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <picture>
            <source
              media="(max-width: 480px)"
              srcset="./images/sliders/smallSlider/secondSlideMobile.jpg"
            />
            <source
              media="(max-width: 768px)"
              srcset="./images/sliders/smallSlider/secondSlideTablet.jpg"
            />
            <source
              media="(min-width: 769px)"
              srcset="./images/sliders/smallSlider/secondSlideDesktop.jpg"
            />
            <img
              src="./images/sliders/smallSlider/secondSlideMobile.jpg"
              alt="slide image"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              media="(max-width: 480px)"
              srcset="./images/sliders/smallSlider/secondSlide2Mobile.jpg"
            />
            <source
              media="(max-width: 768px)"
              srcset="./images/sliders/smallSlider/secondSlide2Tablet.jpg"
            />
            <source
              media="(min-width: 769px)"
              srcset="./images/sliders/smallSlider/secondSlide2Desktop.jpg"
            />
            <img
              src="./images/sliders/smallSlider/secondSlide2Mobile.jpg"
              alt="slide image"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              media="(max-width: 480px)"
              srcset="./images/sliders/smallSlider/secondSlide3Mobile.jpg"
            />
            <source
              media="(max-width: 768px)"
              srcset="./images/sliders/smallSlider/secondSlide3Tablet.jpg"
            />
            <source
              media="(min-width: 769px)"
              srcset="./images/sliders/smallSlider/secondSlide3Desktop.jpg"
            />
            <img
              src="./images/sliders/smallSlider/secondSlide3Mobile.jpg"
              alt="slide image"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              media="(max-width: 480px)"
              srcset="./images/sliders/smallSlider/secondSlide4Mobile.jpg"
            />
            <source
              media="(max-width: 768px)"
              srcset="./images/sliders/smallSlider/secondSlide4Tablet.jpg"
            />
            <source
              media="(min-width: 769px)"
              srcset="./images/sliders/smallSlider/secondSlide4Desktop.jpg"
            />
            <img
              src="./images/sliders/smallSlider/secondSlide4Mobile.jpg"
              alt="slide image"
            />
          </picture>
        </div>
      </div>
      <div class="swiper-pagination">
        <div class="swiper-button-next">
          <svg class="icon" height="32" width="32">
            <use href="./images/icons.svg#icon-arrow_left"></use>
          </svg>
        </div>
        <div class="swiper-button-prev">
          <svg class="icon" height="32" width="32">
            <use href="./images/icons.svg#icon-arrow_right"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
