<section class="about_hotel restaurant">
  <div class="container">
    <div class="restaurant_content offset_top">
      <div class="restaurant_item row_reverse">
        <div class="restaurant_item__content align_right">
          <h6 class="restaurant_headline text_right">Amet minim mollit non</h6>
          <p class="restaurant_logo text_right section_logo">MIMIHO</p>
          <p class="restaurant_text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
        </div>
        <picture>
          <source
            media="(max-width: 1023px)"
            srcset="./images/restaurant-interior1_mobile.jpg"
          />
          <source
            media="(max-width: 1279px)"
            srcset="./images/restaurant-interior1_tablet.jpg"
          />
          <source
            media="(min-width: 1281px)"
            srcset="./images/restaurant-interior1_desktop.jpg"
          />
          <img
            class="restaurant_img"
            src="./images/restaurant-interior1_mobile.jpg"
            alt="Image"
          />
        </picture>
      </div>
      <div class="restaurant_item float_text right offset_top">
        <p class="restaurant_text text_accented">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
        <picture>
          <source
            media="(max-width: 1023px)"
            srcset="./images/restaurant-interior2_mobile.jpg"
          />
          <source
            media="(max-width: 1279px)"
            srcset="./images/restaurant-interior1_tablet.jpg"
          />
          <source
            media="(min-width: 1281px)"
            srcset="./images/restaurant-interior2_desktop.jpg"
          />
          <img
            class="restaurant_img"
            src="./images/restaurant-interior2_mobile.jpg"
            alt="Image"
          />
        </picture>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="swiper swiper_left">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <picture>
            <source
              media="(max-width: 1023px)"
              srcset="./images/sliders/smallSlider/secondSlideMobile.jpg"
            />
            <source
              media="(max-width: 1279px)"
              srcset="./images/sliders/smallSlider/secondSlideTablet.jpg"
            />
            <source
              media="(min-width: 1281px)"
              srcset="./images/sliders/smallSlider/secondSlideDesktop.jpg"
            />
            <img
              src="./images/sliders/smallSlider/secondSlideMobile.jpg"
              alt="slide image"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              media="(max-width: 1023px)"
              srcset="./images/sliders/smallSlider/secondSlide2Mobile.jpg"
            />
            <source
              media="(max-width: 1279px)"
              srcset="./images/sliders/smallSlider/secondSlide2Tablet.jpg"
            />
            <source
              media="(min-width: 1281px)"
              srcset="./images/sliders/smallSlider/secondSlide2Desktop.jpg"
            />
            <img
              src="./images/sliders/smallSlider/secondSlide2Mobile.jpg"
              alt="slide image"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              media="(max-width: 1023px)"
              srcset="./images/sliders/smallSlider/secondSlide3Mobile.jpg"
            />
            <source
              media="(max-width: 1279px)"
              srcset="./images/sliders/smallSlider/secondSlide3Tablet.jpg"
            />
            <source
              media="(min-width: 1281px)"
              srcset="./images/sliders/smallSlider/secondSlide3Desktop.jpg"
            />
            <img
              src="./images/sliders/smallSlider/secondSlide3Mobile.jpg"
              alt="slide image"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              media="(max-width: 1023px)"
              srcset="./images/sliders/smallSlider/secondSlide4Mobile.jpg"
            />
            <source
              media="(max-width: 1279px)"
              srcset="./images/sliders/smallSlider/secondSlide4Tablet.jpg"
            />
            <source
              media="(min-width: 1281px)"
              srcset="./images/sliders/smallSlider/secondSlide4Desktop.jpg"
            />
            <img
              src="./images/sliders/smallSlider/secondSlide4Mobile.jpg"
              alt="slide image"
            />
          </picture>
        </div>
      </div>
      <div class="swiper-pagination">
        <button class="swiper-button-next">
          <svg class="icon" height="32" width="32">
            <use href="./images/icons.svg#icon-arrow_left"></use>
          </svg>
        </button>
        <button class="swiper-button-prev">
          <svg class="icon" height="32" width="32">
            <use href="./images/icons.svg#icon-arrow_right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
