<section class="details_hotel">
  <div class="container">
    <div class="details_hotel_content">
      <p class="details_hotel_logo section_logo">MIMIHO</p>
      <h3 class="details_hotel_title">Ресторан</h3>
      <p class="details_hotel_text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit.
      </p>
    </div>
  </div>
  <div class="swiper_side container">
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="./images/details_restaurant_slider_1.jpg" alt="" />
        </div>
        <div class="swiper-slide">
          <img src="./images/about_our_restaurant_2_mobile.jpg" alt="" />
        </div>
        <div class="swiper-slide">
          <img src="./images/about_our_restaurant_2_mobile.jpg" alt="" />
        </div>
      </div>
      <div class="swiper-pagination swiper-pagination-right">
        <div class="swiper-button-next">
          <svg class="icon" height="32" width="32">
            <use href="./images/icons.svg#icon-arrow_left"></use>
          </svg>
        </div>
        <div class="swiper-button-prev">
          <svg class="icon" height="32" width="32">
            <use href="./images/icons.svg#icon-arrow_right"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="button_wrapper">
      <button class="btn" type="button">Забронювати номер</button>
      <button class="btn" type="button">Переглянути ціни</button>
    </div>
  </div>
</section>
