<section class="details_restaurant">
  <div class="container">
    <div class="details_restaurant_content">
      <p class="details_restaurant_logo section_logo">MIMIHO</p>
      <h3 class="details_restaurant_title">Ресторан</h3>
      <p class="details_restaurant_text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit.
      </p>
    </div>
    <div class="details_restaurant__inner">
      <div class="swiper small_slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <picture>
              <source
                media="(max-width: 1023px)"
                srcset="./images/sliders/smallSlider/thirdSlideMobile.jpg"
              />
              <source
                media="(max-width: 1279px)"
                srcset="./images/sliders/smallSlider/thirdSlideTablet.jpg"
              />
              <source
                media="(min-width: 1281px)"
                srcset="./images/sliders/smallSlider/thirdSlideDesktop.jpg"
              />
              <img
                src="./images/sliders/smallSlider/thirdSlideMobile.jpg"
                alt="slide image"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source
                media="(max-width: 1023px)"
                srcset="./images/sliders/smallSlider/thirdSlide2Mobile.jpg"
              />
              <source
                media="(max-width: 1279px)"
                srcset="./images/sliders/smallSlider/thirdSlide2Tablet.jpg"
              />
              <source
                media="(min-width: 1281px)"
                srcset="./images/sliders/smallSlider/thirdSlide2Desktop.jpg"
              />
              <img
                src="./images/sliders/smallSlider/thirdSlide2Mobile.jpg"
                alt="slide image"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source
                media="(max-width: 1023px)"
                srcset="./images/sliders/smallSlider/thirdSlide3Mobile.jpg"
              />
              <source
                media="(max-width: 1279px)"
                srcset="./images/sliders/smallSlider/thirdSlide3Tablet.jpg"
              />
              <source
                media="(min-width: 1281px)"
                srcset="./images/sliders/smallSlider/thirdSlide3Desktop.jpg"
              />
              <img
                src="./images/sliders/smallSlider/thirdSlide3Mobile.jpg"
                alt="slide image"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source
                media="(max-width: 1023px)"
                srcset="./images/sliders/smallSlider/thirdSlide4Mobile.jpg"
              />
              <source
                media="(max-width: 1279px)"
                srcset="./images/sliders/smallSlider/thirdSlide4Tablet.jpg"
              />
              <source
                media="(min-width: 1281px)"
                srcset="./images/sliders/smallSlider/thirdSlide4Desktop.jpg"
              />
              <img
                src="./images/sliders/smallSlider/thirdSlide4Mobile.jpg"
                alt="slide image"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source
                media="(max-width: 1023px)"
                srcset="./images/sliders/smallSlider/thirdSlideMobile.jpg"
              />
              <source
                media="(max-width: 1279px)"
                srcset="./images/sliders/smallSlider/thirdSlideTablet.jpg"
              />
              <source
                media="(min-width: 1281px)"
                srcset="./images/sliders/smallSlider/thirdSlideDesktop.jpg"
              />
              <img
                src="./images/sliders/smallSlider/thirdSlideMobile.jpg"
                alt="slide image"
              />
            </picture>
          </div>
        </div>
        <div class="swiper-pagination">
          <button class="swiper-button-prev">
            <svg class="icon" height="32" width="32">
              <use href="./images/icons.svg#icon-arrow_left"></use>
            </svg>
          </button>
          <button class="swiper-button-next">
            <svg class="icon" height="32" width="32">
              <use href="./images/icons.svg#icon-arrow_right"></use>
            </svg>
          </button>
        </div>
      </div>
      <div class="button_wrapper">
        <button class="btn open_modal" type="button" data-modal-id="#modal_table">Забронювати столик</button>
        <a class="btn" href="./restaurant.html#restaurant_menu">Переглянути меню</button>
      </div>
    </div>
  </div>
</section>
