<section class="hero basic_hero">
  <div class="container">
    <address class="hero_address desktop_hidden">
      <svg class="icon location_icon">
        <use href="./images/icons.svg#icon-location"></use>
      </svg>
      Україна, м. Полтава,<br />
      вул. Маршала Бірюзова, 15
    </address>
    <div class="hero_content">
      <h1 class="hero_title">MIMIHO</h1>
      <h2 class="hero_sub_title">Ресторанно-готельний комплекс</h2>
      <p class="hero_big_text">СМАК ЖИТТЯ 24/7</p>
    </div>
    <div class="hero_module">
      <div class="hero_module__inner">
        <address class="hero_address mobile_hidden">
          <svg class="icon location_icon">
            <use href="./images/icons.svg#icon-location"></use>
          </svg>
          Україна, м. Полтава,<br />
          вул. Маршала Бірюзова, 15
        </address>
        <ul class="hero_social desktop_hidden">
          <li class="hero_social_item">
            <a href="#">
              <svg class="icon">
                <use href="./images/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="hero_social_item">
            <a href="#">
              <svg class="icon">
                <use href="./images/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="hero_social_item">
            <a href="#">
              <svg class="icon">
                <use href="./images/icons.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="hero_module__buttons">
        <button
          class="btn open_modal"
          type="button"
          data-modal-id="#modal_room"
        >
          Забронювати столик
        </button>
        <button
          class="btn open_modal"
          type="button"
          data-modal-id="#modal_table"
        >
          Забронювати номер
        </button>
      </div>
    </div>
  </div>
</section>
